
/* default styles*/

/*  
  font-family: 'Bungee Hairline',
     cursive;
   font-family: 'Exo 2',
     sans-serif; */

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

 @media screen and (min-width:768px) {
   .container {max-width: 768px;
   }
}

 @media screen and (min-width: 1024px) {
   .container {max-width: 1024px;
   }
}

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: 'Bungee Hairline', cursive;
  font-weight: 300;
  font-size: 18px;
  width: 100vw;
  height: 100vh;
  background-color:whitesmoke;
  background-image:
    linear-gradient(45deg, rgba(62, 1, 64, 0.12230829831932777) 0%,
      rgba(121, 68, 9, 0.11670605742296913) 35%,
      rgba(0, 134, 223, 0.12230829831932777) 100%, transparent 25%),
    linear-gradient(-45deg, rgba(62, 1, 64, 0.12230829831932777) 0%,
      rgba(121, 68, 9, 0.11670605742296913) 35%,
      rgba(0, 134, 223, 0.12230829831932777) 100%, transparent 25%),
    linear-gradient(45deg, transparent 75%,rgba(62, 1, 64, 0.12230829831932777) 0%,
      rgba(121, 68, 9, 0.11670605742296913) 35%,
      rgba(0, 134, 223, 0.12230829831932777) 100%),
    linear-gradient(-45deg, transparent 75%, rgba(62, 1, 64, 0.12230829831932777) 0%,
        rgba(121, 68, 9, 0.11670605742296913) 35%,
        rgba(0, 134, 223, 0.12230829831932777) 100%);
  background-size: 10px 10px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0; 
  margin: 0;
}

/*-----------button styling------------------------------*/

button {
  color: whitesmoke;
  font-family: 'Bungee Hairline', cursive;
  font-size: 16px;
  background: linear-gradient(180deg, rgba(75, 0, 78, 1) 57%, rgba(121, 68, 9, 1) 89%, rgba(0, 134, 223, 0.9010197829131653) 100%);
  border-radius: 5px;
  border: rgba(255, 255, 255, 0.161) 1px solid;
  box-shadow: rgba(254, 205, 211, 0.1) 0px 4px 16px, rgba(254, 205, 211, 0.1) 0px 8px 24px, rgba(254, 205, 211, 0.1) 0px 16px 56px;
  padding: 7px 12px;
  margin: 5px;
  cursor: pointer;
  transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background: linear-gradient(180deg, rgba(84, 45, 85, 1) 0%, rgba(126, 102, 75, 1) 56%, rgba(114, 136, 150, 1) 100%);
}

.button-container{
 display: flex;
 align-items: center;
 justify-content: center;
}

.load-more {
  margin: 30px

}

/* ---------------Form Styling-------------------- */
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(84, 45, 85, 1) 0%, rgba(126, 102, 75, 1) 56%, rgba(114, 136, 150, 1) 100%);
  background-repeat: no-repeat;
  width: 100vw;
  padding: 50px;
  margin-bottom: 30px;
}

input {
  font-family: 'Bungee Hairline', cursive;
  font-size: 16px;
  font-weight: 600px;
  border-radius: 5px;
  border: rgba(255, 255, 255, 0.161) 1px solid;
  box-shadow: rgb(216, 225, 233) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  padding: 7px;
  background-color: whitesmoke;
  color: rgba(75, 0, 78, 1);
  margin: 5px;
  margin-right: 0px;
  max-width: 200px;
}

input::placeholder {
  font-family: 'Bungee Hairline', cursive;
  font-weight: 600;
}

.hidden {
  display: none;
}

/* ---------------gallery styling------------- */

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  margin: 0 10px 15px;
  background: whitesmoke;
  max-width: 300px;
  padding: 5px 5px 5px 5px;
  border-radius: 2px;
  transition-property: box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .gallery-item {
    width: 235px;
    margin: 0 10px 15px;
  }
}

@media (min-width: 1024px) {
  .gallery-item {
    width: 237px;
    margin: 0 12px 12px;
  }
}

.gallery-item:hover,
.gallery-item:focus {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .gallery-item:nth-child(2n + 1) {
    margin-right: 0;
  }
}

.gallery__image {
  width: 310px;
  height: 200px;
  transform: translateY(5px);
  padding: 0 5px;
}

.info {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px;
  transform: translateY(5px);
}

.info-item {
  text-align: center;
  font-size: 10px; 
  padding: 5px;
}

b {
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
}