
/* default styles*/

/*  
  font-family: 'Bungee Hairline',
     cursive;
   font-family: 'Exo 2',
     sans-serif; */

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: 'Bungee Hairline', cursive;
  font-size: 18px;
  width: 100vw;
  height: 100vh;
  background-color:whitesmoke;
  background-image:
    linear-gradient(45deg, rgba(62, 1, 64, 0.12230829831932777) 0%,
      rgba(121, 68, 9, 0.11670605742296913) 35%,
      rgba(0, 134, 223, 0.12230829831932777) 100%, transparent 25%),
    linear-gradient(-45deg, rgba(62, 1, 64, 0.12230829831932777) 0%,
      rgba(121, 68, 9, 0.11670605742296913) 35%,
      rgba(0, 134, 223, 0.12230829831932777) 100%, transparent 25%),
    linear-gradient(45deg, transparent 75%,rgba(62, 1, 64, 0.12230829831932777) 0%,
      rgba(121, 68, 9, 0.11670605742296913) 35%,
      rgba(0, 134, 223, 0.12230829831932777) 100%),
    linear-gradient(-45deg, transparent 75%, rgba(62, 1, 64, 0.12230829831932777) 0%,
        rgba(121, 68, 9, 0.11670605742296913) 35%,
        rgba(0, 134, 223, 0.12230829831932777) 100%);
  background-size: 10px 10px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0; 
  margin: 0;
}

/*-----------main styling------------------------------*/

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(84, 45, 85, 1) 0%, rgba(126, 102, 75, 1) 56%, rgba(114, 136, 150, 1) 100%);
  background-repeat: no-repeat;
  width: 100vw;
  height: 105px;
  margin-bottom: 30px;
}

button {
  color: whitesmoke;
  background: linear-gradient(180deg, rgba(75, 0, 78, 1) 57%, rgba(121, 68, 9, 1) 89%, rgba(0, 134, 223, 0.9010197829131653) 100%);
  border-radius: 5px;
  border: rgba(255, 255, 255, 0.161) 1px solid;
  box-shadow: rgba(254, 205, 211, 0.1) 0px 4px 16px, rgba(254, 205, 211, 0.1) 0px 8px 24px, rgba(254, 205, 211, 0.1) 0px 16px 56px;
  padding: 7px 12px;
  margin: 5px;
  cursor: pointer;
  transition: 0.7s;
}

button:hover {
  background: linear-gradient(180deg, rgba(84, 45, 85, 1) 0%, rgba(126, 102, 75, 1) 56%, rgba(114, 136, 150, 1) 100%);
}

input {
  border-radius: 5px;
  border: rgba(255, 255, 255, 0.161) 1px solid;
  box-shadow: rgb(216, 225, 233) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  padding: 7px;
  background-color: whitesmoke;
  color: rgba(75, 0, 78, 1);
  margin: 5px;
  margin-right: 0px;
  max-width: 160px;
}

.hidden {
  display: none;
}

/* ---------------gallery styling------------- */

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

.gallery-card {
  margin-left: 30px;
    margin-top: 30px;
  background: whitesmoke;
  max-width: 300px;
}

.info {
  display:flex;
  flex-direction: row;
}